[submodule "data"]
	path = data
	url = https://github.com/egoboo/egoboo-assets
[submodule "external"]
	path = external
	url = https://github.com/egoboo/egoboo-external
[submodule "idlib"]
	path = idlib
    url = https://github.com/primordialmachine/idlib
