# Visual Studio 2017.
\.vs
*.sdf
*.opensdf
*.suo
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
/intermediate
/products
Win32/Debug
Win32/Release
egolib/Debug
egolib/Release
egoboo/Debug
egoboo/Release

# CMake.
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_install.cmake

# Google Mock, Google Test.
gmock.pc
gmock_main.pc
gtest.pc
gtest_main.pc

# CMake.
*\.dir/
CMakeFiles
CMakeCache.txt

# Code::Blocks.
*.layout

# OS X.
.DS_Store

# Xcode.
xcuserdata
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# General.
*.bak
*.o
*.dll
*.exe

# Doxygen.
/doc/doxygen
