# Visual Studio 2013.
*.sdf
*.opensdf
*.suo
/intermediate
/product

# Code::Blocks.
*.layout

# OS X.
.DS_Store

# Xcode.
xcuserdata
*.xcuserstate
*.xccheckout

# General.
*.bak
*.o
*.dll
*.exe

# Doxygen.
/doc/doxygen
